<% for(var i=0; i < data.length; i++) { %>
    <h3><%= data[i].nama_barang %></h3>
    <h3><%= data[i].harga %></h3>
    <h3><%= data[i].kategori_barang %></h3>
    <img src="<%= data[i].url %>">
 <% } %>